* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #8b6546;
    
}


.blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 8%;
    gap: 30px;
    background-color: #a38a76;
}

.content {
    max-width: 500px;
}

.content h1 {
    font-size: 40px;
    color: black;
    line-height: 1.3;
    margin-bottom: 20px;
}

.content p {
    color: black;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.food img {
    width: 100%;
    max-width: 600px;
    border-radius: 4px;
}

@media (max-width:900px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .content {
        max-width: 100%;
    }
}

.blog-layout {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 1000px;
  margin: 40px auto;
  padding: 10px;
  background-color: rgb(155, 129, 96);
}

.blog-image img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  padding:10px;
}

.blog-content {
  flex: 1;
}

.blog-content h2 {
  margin-bottom: 20px;
}

.blog-content p {
  line-height: 1.6;
}
