body {
    margin: 0;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

    background-image: url("https://i.pinimg.com/originals/30/b9/6b/30b96b65415300ce8864e78464a74c51.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

   
    display: flex;
    flex-direction: column;      /* STACK CONTENT VERTICALLY */
    align-items: center;         /* CENTER HORIZONTALLY */
    color: rgb(245, 243, 241);
}

/* BACKGROUND OVERLAY */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(67, 4, 4, 0.4);
    z-index: -1;
}

h2 {
    font-size: 45px;
    color: rgb(250, 196, 131);
}

/* FORM CONTAINER */
.form {
    max-width: 900px;
    width: 90%;
    margin-top: 40px;
    padding: 30px;

    display: flex;
    gap: 40px;
    align-items: center;

    background: rgba(225, 246, 246, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 15px;
}

/* LEFT TEXT */
.left {
    width: 40%;
    text-align: left;
}

/* RIGHT FORM */
.right {
    width: 60%;
}

fieldset {
    border: none;
}

/* FORM GRID */
.form-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    row-gap: 15px;
    column-gap: 10px;
    align-items: center;
}

/* INPUTS */
input, textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #999;
}

/* BUTTONS */
.button-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

input[type="submit"],
button {
    cursor: pointer;
}

/* TABLE BELOW FORM */
.table-wrapper {
    width: 95%;
    margin: 40px auto;
}


#contactTable {
  
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    border-collapse: collapse;
}

#contactTable th,
#contactTable td {
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.3);
}

.search {
    display: flex;
    justify-content: space-between;
}