services:
  backend:
    build: .
    container_name: django-backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./foodapp:/app/foodapp
      - ./demoproject:/app/demoproject
      - ./manage.py:/app/manage.py
    environment:
      - DB_NAME=demodb
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db
      - DB_PORT=5432

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: demodb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ann@gmail.com
      PGADMIN_DEFAULT_PASSWORD: annolivia
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data: