body {
    background-image: url("https://cdn.dribbble.com/userupload/24945876/file/original-d6f1789af6de825fa0d56e4f84b4feab.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(158, 156, 156, 0.5);
    z-index: -1;
}

a {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 80px;
    width: 70%;


    position: static;
}

.logo img {
    width: 100px;

}

.others ul {
    list-style: none;
    display: flex;
    gap: 200px;

}

.content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 50px;
}

.left {
    margin-top: -50px;
    width: 65%;
    font-style: Ubuntu;
    font-size: 45px;
}

.right {
     margin-top: -10px;
    font-style: Ubuntu;
    width: 30%;
    font-size: 20px;
    background-color: rgba(192, 179, 179, 0.2);
    padding: 25px;
    border-radius: 20px;


}



.below {
    text-align: right;
    margin-left: auto;
    margin-right: 40px;
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 18px;
    color: rgb(238, 6, 6);
     text-shadow: 0 0 5px rgb(184, 128, 45), 0 0 10px rgb(190, 154, 54), 0 0 15px rgb(228, 228, 84);
}

.login {

    padding: 12px 24px;
    background: linear-gradient(135deg, #da8e48, #5a3914);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;


}

.login:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);

}

.ordernow {


    padding: 12px 24px;
    background: linear-gradient(135deg, #da8e48, #5a3914);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    justify-content: space-between;

}

.ordernow:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);

}

.button {

    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
